* {
  color: #3D2A2A;
  font-family: "Raleway", sans-serif;
  font-variant-numeric: lining-nums;
 font-feature-settings: "lnum";
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
.main-content {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/assets/home-bg.jpg");
  height: 780px;
  background-size: cover;
  background-position-x: 45%;
  padding-left: 24px;
  @media only screen and (min-width: 720px) {
    padding-left: 10%;
  }
  align-items: center;
  display: flex;
  div {
    align-items: center;
  }
  h1 {
    margin-top: 0;
    font-size: 64px;
    color: white;
    margin-bottom: 0;
  }
  p {
    color: white; 
    font-weight: 500;
    line-height: 24px;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  button {
    background: #C50B2A;
    border: none;
    padding: 12px 32px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    margin-top: 8px;
  }
}
.pdf {
  height: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin-top: 180px;
  margin-bottom: 180px;
  margin-left: 24px;
  margin-right: 24px;
  @media only screen and (min-width: 720px) {
    margin: auto;
    margin-top: 180px;
    margin-bottom: 180px;
  }

  p {
    font-weight: bold;
    color: black;
    text-align: center;
  }
}
.story {
  background-image: url("../src/assets/donuts.jpg");
  height: 844px;
  margin-bottom: 80px;
  background-position-x: 10%;
  background-repeat: no-repeat;
  position: relative;

  @media only screen and (min-width: 720px) {
    background-position-x: 50%;
    margin-bottom: 0;
  }

  .box{
    text-align: center;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%); /* Adjust to center exactly */
    left: 50%;

    background: white;
    border-radius: 8px;
    padding: 64px 24px;
    width: calc(100% - 64px);
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.3); /* Add shadow */

    @media only screen and (min-width: 720px) {
      max-width: 426px;
      left: 70%;
      bottom: 40%;
    }

    h3{
      margin-top: 0;
      font-size:32px
    }

    p{
      font-size: 20px;
      font-weight: 500;
    }

    a {
      color: #C50B2A;
      font-weight: bold;
      font-size: 20px;
      .arrow {
        * {
          color:#C50B2A;
          &:hover {
            color: #A1001B;
          }
        }
      }
      &:hover {
        color: #A1001B;
      }
    }
  }
}

.location-container {
  display: block;
  justify-content: center;
  
  @media only screen and (min-width: 720px) {
    padding-top: 80px;
    padding-bottom: 160px;
    display: flex;
  }

  .left {
    margin-left: 0;
    .disclaimer {
      color: #767676;
      max-width: 75%;
      margin-bottom: 64px;
    }
    padding-left: 24px;
    padding-right: 24px;

    @media only screen and (min-width: 720px) {
      // margin-left: 64px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .location {
      h2:first-of-type {
        @media only screen and (min-width: 720px) {
          margin-top: 0;
        }
      }
      .address {
        text-transform: uppercase;
        font-size: 16px;
      }
      .directions {
        text-decoration: none;
        color:#C50B2A;
        font-weight: bold;
        font-size: 16px;

        &:hover {
          color: #A1001B;
        }

        .arrow {
          * {
            color:#C50B2A;
            &:hover {
              color: #A1001B;
            }
          }
        }
      }
      margin-bottom: 64px;
  }

  .contact {
    font-size: 16px;
  }

  ul {
      list-style-type: none;
      padding: 0;
  
      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
      }
  
      .day {
        flex: 1;
        text-align: left;
        font-size: 16px;
      }
  
      .time {
        flex: 1;
        text-align: right;
      }
    }
}

// NavBar
.nav {
  &.desktop {
    position: sticky;
    top: 0;
    background: white;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 1px 3px rgba(0, 0, 0, 0.08);
  
    .nav-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  
      .logo {
        img {
          width: 480px;
        }
      }
  
      .nav-text {
      }
    }
  
    .nav-links {
      display: flex;
      justify-content: center;
      margin-top: 48px;
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 24px;
      padding-bottom: 40px;
      font-size: 20px;
  
      a {
        margin-right: 64px;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
          text-underline-offset: 12px;
          color:#C50B2A;
        }
  
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &.mobile {
    padding-top: 20px;
    padding-bottom: 20px;
    .icons {
      position: absolute;
      left: 20px;
      * {
        color: #C50B2A;
      }
      svg {
        height: 32px;
        width: 32px;
      }
      .icon {
        transition: all 250ms ease-out;
      }
      .icon.open {
        transform: rotate(90deg);
      }
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .overlay {
      left: -100vw;
      transition: all 250ms ease-out;
      background: transparent;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 1000;
      top: 68px;
      padding-top: 64px;
      padding-left: 24px;
      .number {
        color: white;
        font-size: 24px;
      }
      .link {
        display: block;
        margin-top: 32px;
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
      }
      img {
        margin-top: 32px;
        margin-right: 16px;
      }
    }
    
    .overlay.open {
      background: #C50B2A;
      left: 0;
    }
  }
}

footer {
  // padding-left: 356px;
  // padding-right: 356px;
  color: #3D2A2A;
  bottom: 0;
  width: 100%;
  padding-bottom: 80px;

  @media only screen and (min-width: 720px) {
    padding-top: 0;
  }

  .copyright {
    color: #767676;
  }

  .logo {
    display: flex
;
    justify-content: center;
  }
  .footer-top {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
  .footer-bottom {
    text-align: center;
    margin: auto;
    max-width: 70%;
    border-top: 1px solid #D8E2F0;
    margin-top: 16px;
    padding-top: 24px;
    a {
      display: block;
      font-weight: 500;
      text-decoration: none;
      margin-bottom: 16px;
      &:hover {
        color: #C50B2A;
      }
    }
  }
  .footer-links {
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 40px;
    font-size: 20px;

    .social-block {
      display: flex;
      justify-content: center;
      .social {
        margin-right: 12px;
        text-align: center;
      }
      .social:last-of-type {
        margin-right: 0;
      }
    }

    a {
      text-decoration: none;
      display: block;
      text-align: center;
      font-size: 16px;
      margin-bottom: 16px;
      
      &:hover {
        text-decoration: underline;
        text-underline-offset: 12px;
        color:#C50B2A;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    &.not-bold {
      font-weight: normal;
    }
  }

  &.desktop {
    .footer-top { 
      display: flex; 
    width: 100%;
    justify-content: space-around;
    // border-bottom: 1px solid gray;
  }
    .logo {
      display: block;
      img {
        margin-bottom: 8px;
      }
      margin-bottom: 8px;
    }
    .footer-links{
      display: flex;
      a {
        margin-right: 48px;
      }
      a:last-of-type {
        margin-right: 0;
      }
      padding: 0;
    }
  }
}

.story-page {
  margin: auto;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 80px;
  h2 {
    font-size: 48px;
    font-weight: 900;
    text-align: center ;
    margin-bottom: 0;
  }
  h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
  }
  p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .img {
    display: flex;
    @media only screen and (min-width: 720px) {
      &.imgs {
        display: flex;
      }
    }
    &.imgs {
      display: flex;
      margin-right: 8px;
      img:first-of-type {
        margin-bottom: 16px;
      }
    }
  }

  @media only screen and (min-width: 720px) {
    .something {
      display: flex;
      justify-content: space-between;
      // img:last-of-type {
      //   margin-left: 16px;
      // }
    }
  }

  img {
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    @media only screen and (min-width: 720px) {
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }
  .left {
    text-align: left;
  }
}

.view-menu {
  cursor: pointer;
  font-weight: 500;
}

.no-underline, .directions {
  text-decoration: none;
}

.phone {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0;
}

canvas {
  margin: auto;
  max-width: 100%;
  height: auto !important;
  margin-top: 48px;
  margin-bottom: 48px;
}

.second-story, .third-story, .fourth-story {
  @media only screen and (min-width: 720px) {
    display: flex;
    align-items: center;

    img {
      width: 480px;
    }
  }
}

.second-story, .fourth-story {
  @media only screen and (min-width: 720px) {
    .description {
      margin-right: 80px;
    }
  }
}
.third-story {
  @media only screen and (min-width: 720px) {
    .description {
      margin-left: 80px;
    }
  }
}